.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1300px;
  height: 530px;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 45px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  border-radius: 0px 0px 10px 0px;
  border: 3px solid rgba(12, 27, 22);
  background-color: rgba(30, 40, 61, 0.911);
}
.app-wrapper-content img {
  width: 50%;
  height: 610px;
}